@font-face {
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.ttf") format("truetype");
  font-family: "Apercu";
  font-display: swap;
}

/* apercu-regular */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.ttf") format("truetype");
  font-family: "Apercu";
  font-display: swap;
}

/* apercu-medium */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.ttf") format("truetype");
  font-family: "Apercu";
  font-display: swap;
}

/* apercu-bold */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.ttf") format("truetype");
  font-family: "Apercu";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.ttf") format("truetype");
  font-family: "ApercuPro";
  font-display: swap;
}

/* apercu-pro-book */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.ttf") format("truetype");
  font-family: "ApercuPro";
  font-display: swap;
}

/* apercu-pro-medium */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.ttf") format("truetype");
  font-family: "ApercuPro";
  font-display: swap;
}

/* apercu-pro-bold */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.ttf") format("truetype");
  font-family: "ApercuPro";
  font-display: swap;
}

/* Prestige */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.ttf") format("truetype");
  font-family: "Prestige";
  font-display: swap;
}

/* Prestige Bold */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.ttf") format("truetype");
  font-family: "Prestige";
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  min-height: unset;
  font-size: unset;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  /* font-weight:400;*/
  src: url(https://cdn.shrglobal.com/IBE/CrsMedia/P17399/PrestigeEliteStd-Bd.woff) format("woff");
  font-family: prestige-elite-std;
}

.ws-skiptocontent {
  display: none;
}

:root {
  --cast-iron: #212120;
  --sandstone: #eeebe3;
  --pine: #3d4836;
  --brick: #d0cdbf;
  --color-brand-1: var(--pine);
  --color-brand-2: var(--brick);
  --color-brand-2-opacity: rgba(61, 72, 54, 0.85);
  --color-brand-3: var(--cast-iron);
  --color-brand-4: var(--sandstone);
  --color-brand-5: var(--pine);
  --color-brand-6: var(--cast-iron);
  --color-brand-7: #A63A50;
  --primary: var(--pine);
  --secondary: var(--sandstone);
  --color-black: var(--cast-iron);
  --color-white: var(--sandstone);
  --font-family-1: 'apercu', sans-serif;
  --font-family-2: "prestige-elite-std";
  --font-size-lg: 36px;
  --font-size-md: 30px;
  --font-size-md-24: 24px;
  --font-size-md-20: 20px;
  --font-size-body: 18px;
  --letter-spacing-lg: 1.5px;
  --border-radius-0: 0;
  --border-radius-1: 0px;
  --box-shadow-main: 4px 10px 21px -10px var(--color-brand-3);
  --box-shadow-bkg: 1px 1px 25px -15px var(--color-brand-3);
  --box-shadow-header: 4px 10px 21px -21px var(--color-black);
  --border-default: 1px solid var(--color-brand-3);
  --border-white: 2px solid var(--color-white);
  --border-transparent: 1px solid transparent;
  --border-brand-1: 2px solid var(--color-brand-1);
  --border-brand-2: 2px solid var(--color-brand-2);
  --transition-default: all 0.5s ease;
}

@media screen and (max-width: 991px) {
  :root {
    --font-size-lg: 30px;
    --font-size-md: 24px;
    --font-size-md-24: 20px;
    --font-size-md-20: 18px;
    --font-size-body: 16px;
    --letter-spacing-lg: 0.51px;
  }
}

/*------------------- Core elements ----------------------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  vertical-align: baseline;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  /*    border-radius: var(--border-radius-1);*/
}

a {
  color: var(--color-brand-2);
  text-decoration: none;
}

a:link,
a:visited {
  position: relative;
  transition: var(--transition-default);
  font-weight: 400;
  text-decoration: none;
}

a:hover,
a:active {
  transition: color 0.8s ease;
  color: var(--color-brand-3);
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--sandstone);
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--font-family-2);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.address {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  font-family: var(--font-family-1);
  text-decoration: none !important;
  text-transform: uppercase;
}

.image-logo {
  max-height: 150px;
}

.image {
  max-width: 222px;
}

.image-2 {
  max-width: 150px;
}

a:focus {
  outline: 0;
}

.link-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 1 !important;
  color: var(--sandstone);
  text-decoration: none;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.link-block:hover {
  opacity: 1 !important;
  text-decoration: underline;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  width: auto;
  list-style-type: none;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.main-wrapper {
  background-color: unset;
}

.padding-global {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  width: 100%;
}

.page-wrapper {
  background-color: var(--brick);
}

@media screen and (min-width: 1440px) {
  .page-wrapper {
    display: block;
    justify-content: center;
    align-items: flex-start;
  }

  .main-wrapper {
    display: block;
  }
}

.ws-results article:not(.ws-open) .ws-drawer-item a:hover h1:after,
.ws-results article:not(.ws-open) .ws-drawer-item a:hover h3:after {
  box-shadow: inset -75px 0 50px -35px var(--color-brand-1);
  background-color: var(--color-brand-1);
}

#ws-calendar p.ws-close a,
#ws-occupancy-select p.ws-close a,
#ws-options-select p.ws-close a,
#calprev .ws-icon:before,
#calnext .ws-icon:before,
#ws-calendar .calHead {
  padding: 15px;
  color: var(--color-brand-1);
}

.ws-drawer-message,
#ws-options-select .ws-item,
.ws-occupancy-room .ws-form-elements,
.ws-occupancy-room .ws-item,
#ws-calendar .calHead,
#ws-calendar .calDay,
.ws-legend-item,
.calMonth .calDays div.wsclosed:not(.wsoutonly),
#hdSaveForLater {
  color: var(--color-black);
}

#headerwrapper {
  order: 1;
}

.nav_fixed {
  order: 1;
}

.main-wrapper {
  order: 2;
}

.ws-results hgroup h3 {
  margin-bottom: 0;
  border-top: .556em solid transparent;
  border-bottom: .556em solid transparent;
  padding: 0 10px;
  width: 100%;
  max-height: 3.67em;
  overflow: hidden;
  color: var(--brick);
  font-weight: 700;
  font-size: 1.286em;
  line-height: 1.278;
  font-family: var(--font-family-1);
  text-transform: uppercase;
}

#ws-utility {
  order: 3;
  border-bottom: var(--border-transparent);
  background-color: var(--base-color-neutral--black);
  padding: 0;
  padding-right: 4rem;
  padding-left: 4rem;
  color: var(--sandstone);
  font-size: 1.125rem;
  font-family: Prestige, sans-serif;
  letter-spacing: -0.0788rem;
  text-decoration: none;
}

#WsBgModal.ws-show-this {
  opacity: 0;
}

.ws-msg-error {
  background-color: var(--color-brand-7);
  color: var(--sandstone);
}

#WsBgModal.ws-show-this {
  max-height: 10000000px;
}

.ws-cart-view2 .ws-buttons a {
  width: unset;
}

a#buWsCartCont:hover {
  background-color: var(--color-brand-1);
}

.ws-heading h1 {
  color: var(--color-brand-1);
  font-size: var(--font-size-lg);
}

#ws-back .ws-nav-yin {
  border-top-color: var(--color-brand-2);
  border-bottom-color: var(--color-brand-2);
  color: var(--color-brand-3);
}


.ws-messages.ws-show-this,
.ws-msg-error.ws-show-this {
  border-radius: var(--border-radius-1);
  background-color: var(--color-brand-2);
  padding: 15px;
  color: var(--color-brand-3);
}


#buWsCartCart,
#buIndex,
.ws-secondary,
a.ws-secondary,
span.ws-secondary,
.ws-buttons .ws-button,
.ws-buttons .ws-button-small,
.ws-button-small,
.ws-button-small.ws-tag,
.ws-filter-sort-items a.ws-button-small.ws-active,
.ws-filter-sort-items button.ws-button-small.ws-active,
.ws-grid-list .ws-button-small.ws-active,
.ws-attribute .ws-button-small.ws-active {
  display: inline-block;
  opacity: 1 !important;
  transition: var(--transition-default);
  cursor: pointer !important;
  margin: 0;
  border: var(--border-brand-2);
  border-radius: var(--border-radius-1) !important;
  background-color: var(--color-brand-2);
  padding: 10px 15px 7px;
  min-width: 80px;
  height: auto;
  color: var(--color-brand-3);
  font-weight: 400;
  font-size: var(--font-size-body);
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

#ws-property-info-map {
  position: relative;
  background-image: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/railspur_map_inverse.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 600px;
}

#ws-property-info-map #dvFrHotelMap {
  display: none !important;
  /* Hide the Google Map container */
}

.ws-menu-bar li {
  background-color: var(--sandstone);
}

.ws-property-item {
  padding: 0 10px;
  padding-bottom: 1.429em;
}

.ws-property-item .ws-property-title h1 {
  color: var(--sandstone);
  font-weight: 700;
  font-family: var(--font-family-2);
  text-transform: uppercase;
}

.ws-property-item .ws-menu-bar li.activeli a {
  padding: 0.75em 1em 0em 1em;
  color: var(--pine);
  font-weight: 700;
  line-height: 1;
  line-height: 1.5;
  font-family: var(--font-family-2);
  text-transform: uppercase;
}

li#liMap,
li#liGallery,
li#liAmenities,
li#liAbout {
  border-radius: 0 !important;
}

li#liMap:hover,
li#liGallery:hover,
li#liAmenities:hover,
li#liAbout:hover {
  font-weight: 700;
}

li#liMap,
li#liGallery,
li#liAmenities,
li#liAbout {
  border-color: var(--brick);
  border-radius: 0 !important;
  background-color: var(--cast-iron);
  padding: 4px 7px 3px 7px;
  padding-top: 5px;
  color: var(--brick)
}

.ws-property-rating {
  display: none;
}

.ws-itinerary span.ws-form-item .ws-element {
  padding-top: 1.5em;
  line-height: 1.929;
}

.ws-itinerary .ws-element label {
  color: var(--color-brand-1);
}

.ws-itinerary .ws-element {
  width: 100%;
  height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}




.ws-itinerary span.ws-form-item .ws-element.ws-calendar-dates input,
.ws-mod-dates .ws-element input {
  outline: none;
}

.ws-interact .ws-form-item .ws-element,
#MyRetrieve_dvWsRetrieve .ws-form-item .ws-element,
.ws-discount-code .ws-element {
  outline: none;
  border-radius: var(--border-radius-0);
}

.ws-interact .ws-form-item .ws-element:focus,
#MyRetrieve_dvWsRetrieve .ws-form-item .ws-element:focus,
.ws-discount-code .ws-element:focus {
  border: none;
  border-bottom: var(--color-brand-2) !important;
}

div#dvItinerary {
  padding: 0 5rem;
}

.main-wrapper,
.contentwrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1143px;
}

.links_section,
.newsletter_section {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

#content {
  width: unset !important;
  max-width: unset !important;
}

.main-wrapper,
.contentwrapper {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--sandstone) !important;
  padding: 0rem 5rem !important;
  width: 100%;
  max-width: 1143px;
}

.ws-icon:before {
  display: inline-block;
  vertical-align: -1px;
  margin-top: -.1em;
  margin-right: .25em;
  content: attr(data-icon);
  font-size: 14px;
  line-height: 20px;
  font-family: 'wsicons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b.ws-icon span {
  display: none;
}

#ws-cart .ws-icon:before, p.ws-close .ws-icon:before, .ws-user-member .ws-icon:before {
  content: none;
}

#ws-cart .ws-icon:after, p.ws-close .ws-icon:after, .ws-user-member .ws-icon:after {
  display: inline-block;
  vertical-align: -1px;
  margin-left: .25em;
  content: attr(data-icon);
  font-size: 14px;
  line-height: 20px;
  font-family: 'wsicons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ws-element,
.ws-form-item,
#ws-check-out,
#ws-occupants {
  padding-left: 0;
  color: var(--brick)
}

span.ws-pre.ws-property-city {
  color: var(--brick);
}

span.ws-pre.ws-property-street {
  color: var(--brick);
}

span.ws-pre.ws-property-phone {
  color: var(--brick);
}

div#dvItinerary {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--pine);
  padding: 5rem 5rem;
  max-width: 1040px;
}

.ws-itinerary .ws-element label {
  color: var(--sandstone);
}

.ws-user-prompt p {
  margin-bottom: 0;
  color: var(--sandstone) !important;
  font-size: .858em;
  text-align: center;
}

.ws-itinerary span.ws-form-item .ws-element, .ws-itinerary span.ws-form-item .ws-button, .ws-mod-dates .ws-element {
  height: 4em;
}

.ws-element, .ws-form-item {
  margin-right: unset !important;
  margin-left: unset !important;
  border-width: thin;
  border-color: var(--sandstone);
  border-radius: 0px !important;
  color: var(--sandstone);
}



input, select, textarea, button, .ws-button {
  color: var(--sandstone);
  font-family: var(--font-family-2);
  text-transform: uppercase;
}

#dvMessage {
  display: none;
  position: relative;
  z-index: 201;
  background-color: var(--pine);
  max-width: 1040px;
  color: var(--sandstone);
  text-align: center;
}

.ws-number {
  font-weight: 700;
  line-height: 1.25;
  font-family: var(--font-family-1);
}

.ws-property-item .ws-menu-bar li a {
  padding: .25em 10px;
  color: var(--sandstone);
  font-size: .858em;
  line-height: 1.4167
}

.ws-menu-bar li.activeli {
  border-bottom: 0 none;
  border-color: var(--sandstone);
  background-color: var(--sandstone) !important;
}

.ws-menu-bar li.activeli a {
  color: var(--cast-iron)
}

#buViewItem,
#buViewGrid,
#buViewList,
#buFilterPkg,
#buFilterQualifiedRates,
#buFilterRoom {
  margin-left: -0.3em !important;
  border-width: thin;
  border-color: var(--pine);
  color: var(--pine);
  font-size: .85rem;
  line-height: 2rem;
}

.ws-filter-sort-items a.ws-tag, .ws-filter-sort-items button.ws-tag  {
  background-color: var(--sandstone);
}


.num-plusminus .mpbtn {
  cursor: pointer;
  border: 1px solid var(--cast-iron);
  border-radius: 0px;
  background-color: var(--cast-iron);
  padding: 3px 3px;
  color: var(--sandstone);
}

button.ws-button-small.ws-secondary.addRoomBlock button#update {
  background-color: var(--cast-iron);
  padding: .55rem .75rem .25rem;
  font-size: 1rem;
}

li#liAmenities li#liAbout li#liGallery li#liMap {
  width: unset
}

h2#lbLocation {
  color: var(--sandstone);
  font-size: 1.5rem;
  font-family: var(--font-family-1);
  text-transform: uppercase;
}

li.ws-amenity-item-icon {
  color: var(--sandstone);
}

p#lbEnterCodePrompt,
a#tbAbout,
a#tbAmenities,
a#tbGallery,
a#tbMap  {
  font-weight: 700;
}

.ws-amenity-item-icon,
.ws-amenity-name,
p#txHotelDesc,
#dvHotelIconAmens ,
p#txLocation ,
#txHotelDesc {
  color: var(--sandstone);
}

.ws-journey .ws-active-step .ws-nav-yin, 
.ws-related-data.ws-show-this {
  border-color: var(--brick);
  background-color: var(--sandstone) !important;
}

.ws-room-rate-name {
  font-family: var(--font-family-1);
  text-transform: uppercase;

}

.ws-comments{
  font-family: var(--font-family-2);
  text-transform: none ;
}


.ws-element, .ws-form-item {
  margin-right: unset !important;
  margin-left: unset !important;
  border-width: thin;
  border-color: var(--cast-iron);
  border-radius: 0px !important;
  color: var(--cast-iron);
}

span.customSelect.custom.ws-element.customSelectHover {
  background-color: var(--brick);
  padding-top: 3.5px;
}

ul.cbUpgrade.ws-select-options {
  background-color: var(--sandstone);
}

.ws-element {
  border: 2px solid #ddd;
  border-radius: 4px;
  height: 3em;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.ws-results article.ws-open hgroup {
  border-bottom: 0px;
 }
 
 .ws-results .ws-related-data h3 {
   font-family: var(--font-family-1);
   text-transform: uppercase;
 }

 

element.style {
  width: unset;
}

.ws-element, .ws-form-item {
  margin-right: unset !important;
  margin-left: unset !important;
  border-width: thin;
  border-radius: 0px !important;
}

a#txOccupants {
  color: var(--sandstone);
}




input#buUpdateResults {
  border: 1px solid var(--brick);
  border-radius: 0px;
  background-color: var(--pine);
  padding-top: 3px;
}

#ws-update, .ws-no-options #ws-update {
  border: var(--cast-iron);
  background-color: var(--cast-iron);
  width: 15%;
  color: var(--sandstone);
}

#ws-update, .ws-no-options #ws-update {
  border: unset; 
 background-color:unset;
 }



 .ws-element {
  outline: none;
  border-radius: var(--border-radius-0);
  background-color: transparent;
}

.ws-element,
.ws-form-item {
  margin-right: unset !important;
  margin-left: unset !important;
  border-color: var(--color-brand-1);
  border-radius: 0px !important;
  color: var(--color-brand-1);
}

#ws-main section.ws-property-info {
  margin-top: 5rem;
  margin-bottom: 0;
  max-height: 20rem;
}

#ws-main section#ws-calendar .ws-inner {
  padding-top: 4.572em;
}



---------------------------------------------------
---------------------------------------------------
---------------------------------------------------
---------------------------------------------------
NOT BELOW HERE





#ws-main section.ws-component .ws-inner {
  background-color: unset;
}



.ws-cart-view2, #ws-main .ws-itinerary section .ws-inner {
  background-color: var(--sandstone);
}


#ws-main section.ws-component .ws-inner {
  margin: 2rem 0 2rem 0;
  border-radius: 4px;
  background-color: var(--brick);
  padding: 0px;
}



#ws-main section.ws-component .ws-inner {
  margin: 2rem 0 2rem 0;
  border-color: var(--cast-iron);
  border-radius: 4px;
  background-color: var(--brick);
  padding: 0px;
  padding: 20px 0 20px 0;
  color: var(--cast-iron);
}




#ws-main section {
  clear: both;
  margin-right: auto;
  margin-bottom: 1.429em;
  margin-left: auto;
  width: 100%;
  max-width: 1040px;
}

#ws-main section.ws-component {
  margin-right: auto;
  margin-left: auto;
}


#ws-main section {
  clear: both;
  margin-right: auto;
  margin-bottom: 1.429em;
  margin-left: auto;
  width: 100%;
  max-width: 1143px;
}

#ws-main section.ws-property-info {
  margin: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: var(--cast-iron);
  padding: 5rem 2rem 5rem 2rem;
  max-width: 1040px;
}







lbEnterCodePrompt {
  color: var(--sandstone);
  font-family: var(--font-family-2);
}


.calDay {
  float: left;
  margin: 9px 0;
  width: 100%;
  font-family: var(--font-family-1);
}

.calMonth {
  float: left;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  font-family: var(--font-family-2);
  text-transform: uppercase;
}

#dvCalMonths,
.calHead {
  float: left;
  margin: 0 0 1px 0;
  width: 100%;
  color: var(--pine);
  font-weight: bold;
  font-size: 1em;
  font-family: var(--font-family-2);
  text-align: center;
  text-transform: uppercase;
}

.calDay div {
  float: left;
  width: 14.2857%;
  color: var(--color-brand-1);
  font-weight: 500;
  font-size: .786em;
  font-family: var(--font-family-1);
  text-align: center;
  text-transform: uppercase;
}

#dvCalMonths {
  margin: 0 auto;
  padding-top: 0.715em;
  padding-right: 30px;
  padding-left: 30px;
}

#ws-calendar {
  background-color: var(--sandstone);
}

#ws-calendar .calHead {
  color: var(--color-brand-3);
  font-weight: 700;
  font-size: var(--font-size-md-20);
  font-family: var(--font-family-2);
  text-transform: uppercase;
}

.calDay div {
  float: left;
  width: 14.2857%;
  color: var(--color-brand-1);
  font-weight: 500;
  font-size: .786em;
  font-family: var(--font-family-1);
  text-align: center;
  text-transform: uppercase;
}

html[dir="rtl"] .calDay div {
  float: right;
}

.calMonth .calDays div {
  position: relative;
  float: left;
  border: 1px solid var(--sandstone);
  background: var(--sandstone);
  padding: .308em 6px 0 6px;
  width: 14.2858%;
  height: 3.23em;
  color: var(--cast-iron);
  line-height: 1.3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: 700;
  font-size: .929em;
  font-family: var(--font-family-2);
  text-align: center;
}

.calMonth .calDays .calStrike {
  height: 3.9em !important;
}

.calMonth .calDays div span {
  display: block;
  color: var(--cast-iron);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: .8462em;
}

.calMonth .calDays div.pointer {
  cursor: pointer;
}

.calMonth .calDays div.restricted {
  color: var(--cast-iron);
}

.calMonth .calDays div.pointer:hover {
  background: var(--pine) !important;
  color: var(--sandstone);
}

.calMonth .calDays div.dtSelected {
  background: var(--pine);
  color: var(--sandstone);
}

.calMonth .calDays div:hover span, .calMonth .calDays div.dtSelected:hover span {
  color: var(--pine);
}

div.dtSelected span {
  background: transparent;
  color: var(--brick);
}

.calMonth .calDays div.dtSelected:hover span {
  color: #fff !important;
}

.calMonth .calDays div.pointer:active span {
  color: var(--pine) !important;
}

.calMonth .calDays div.blocked {
  cursor: default;
  color: var(--brick);
}

.calMonth .calDays div.today {
  background-color: var(--brick);
}

.calMonth .calDays div.dtCheckout {
  background: var(--pine);
  color: var(--sandstone);
}

.calMonth .calDays div.dtCheckin:after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 50;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid var(--pine);
  content: '';
}

.calMonth .calDays div.dtCheckout:after {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 50;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-right: 8px solid var(--pine);
  border-bottom: 8px solid transparent;
  content: '';
}

.ws-property-item .ws-property-desc,
.ws-property-item .ws-property-content {
  float: inline-start;
  padding: 1rem;
  width: 10%;
}

.ws-property-item .ws-menu-bar {
  display: inline-grid;
  flex-direction: column;
  align-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 0;
  min-width: 30px;
}

#ws-main section.ws-property-info {
  margin-top: 5rem;
  margin-bottom: 0;
}

.ws-property-item .ws-menu-bar {
  display: inline-grid;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
  min-width: 5rem;
}

.ws-property-item .ws-property-desc,
.ws-property-item .ws-property-content {
  float: right;
  padding-left: 20px;
  width: 100%;
}

.ws-no-rate .ws-property-item .ws-property-title {
  width: 100%;
}

.ws-menu-bar li a {
  display: inline-block;
  padding: .358em 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

activeli {
  background-color: var(--brick);
  color: var(--color-brand-2-opacity)
}

#ws-property-info-gallery #ws-property-info-amenities #ws-property-info-about #ws-property-info-map {}

ws-related-desc ws-second {

}


.ws-property-item .ws-menu-bar .active {
  border-bottom: 0 none;
  border-color: #3d4836;
  border-radius: 0px;
  background-color: #3d4836;
  color: #eeebe3;
}

.ws-property-item .ws-menu-bar {}

.ws-property-item .ws-menu-bar li a {
  opacity: 1 !important;
  transition: var(--transition-default);
  cursor: pointer !important;
  margin: .25rem;
  border: #d0cdbf;
  border-radius: 0px;
  background-color: #d0cdbf;
  padding: 10px 15px;
  min-width: 150px;
  height: auto;
  color: #3d4836;
  font-weight: 600;
  font-size: var(--font-size-body);
  font-family: var(--font-family-2);
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.ws-menu-bar li,
li:first-child {
  border-color: unset;
}

li#liAbout {
  border-color: #FFF;
}

.ws-menu-bar li {
  display: unset;
  position: unset;
  margin: unset;
  border: unset;
  border-bottom-color: unset;
  background-color: unset;
  padding: unset;
  width: unset;
  list-style: unset;
}

div#ws-property-info-gallery {
  display: block;
  position: absolute;
  top: 15px;
  left: 550px;
  z-index: 1000;
  width: 550px;
  height: auto;
  overflow: visible;
  pointer-events: none;
}

div#ws-property-info-amenities {
  display: block;
  position: absolute;
  top: 35px;
  left: 550px;
  z-index: 1000;
  background-color: #3d4836;
  width: 500px;
  pointer-events: none;
}

div#ws-property-info-about {
  display: block;
  position: absolute;
  top: 35px;
  left: 550px;
  z-index: 1000;
  background-color: #3d4836;
  padding: 2rem;
  width: 500px;
  pointer-events: none;
  color: #eeebe3;
}

.page-ASP-index_aspx ul.ws-amenity-list-icons li.ws-amenity-item-icon {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding: 5px;
  width: 15%;
  color: #eeebe3;
}
