/*
|    AHG |   LINK THE STYLE SHEET

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/SEAWES.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/SEAWES_custom.css">

*/

/*
<!-- 
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aparium/fonts/ahg-fonts.css">
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/aparium/fonts/main/ahg-fonts.css">

-->
*/

/**  mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
|    AHG |   APARIUM
|    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
*/

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
/* APH |  APARIUM OFFICIAL BRAND FREIGHT FONTS                                                                      */
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
/*  Apercu   */
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

/* apercu-light */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Apercu";
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-light.ttf") format("truetype");
}

/* apercu-regular */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Apercu";
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-regular.ttf") format("truetype");
}

/* apercu-medium */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Apercu";
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-medium.ttf") format("truetype");
}

/* apercu-bold */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Apercu";
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-bold.ttf") format("truetype");
}

/* apercu */

.apercu-light {
  font-family: "apercu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.apercu-regular {
  font-family: "apercu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.apercu-mediumn {
  font-family: "apercu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.apercu-bold {
  font-family: "apercu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
/*  Apercu Pro    */
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

/* apercu-pro-light */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "ApercuPro";
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-light.ttf") format("truetype");
}

/* apercu-pro-book */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "ApercuPro";
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-regular.ttf") format("truetype");
}

/* apercu-pro-medium */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "ApercuPro";
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-medium.ttf") format("truetype");
}

/* apercu-pro-bold */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "ApercuPro";
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/apercu/apercu-pro-bold.ttf") format("truetype");
}

/* apercu-pro */

.apercu-pro-light {
  font-family: "apercu-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.apercu-pro-regular {
  font-family: "apercu-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.apercu-pro-mediumn {
  font-family: "apercu-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.apercu-pro-bold {
  font-family: "apercu-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.apercu-pro-black {
  font-family: "apercu-pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}


/* Prestige */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Prestige";
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige.ttf") format("truetype");
}

/* Prestige Bold */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Prestige";
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/aparium/HotelWestlandSeattle/fonts/prestige/prestige-bold.ttf") format("truetype");
}

.prestige-regular {
  font-family: "prestige", serif;
  font-weight: 400;
  font-style: normal;
}

.prestige-bold {
  font-family: "prestige-bold", serif;
  font-weight: 700;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --brick: #d0cdbf;
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --cast-iron: #212120;
  --sandstone: #eeebe3;
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --pine: #3d4836;
  --base-color-neutral--black: #000;
  --base-color-neutral--white: #fff;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --link-color--link-secondary: var(--base-color-neutral--black);
  --link-color--link-alternate: var(--base-color-neutral--white);
  --color-brand-1: var(--pine);
  --color-brand-2: var(--brick);
  --color-brand-2-opacity: rgba(61, 72, 54, 0.85);
  --color-brand-3: var(--cast-iron);
  --color-brand-4: var(--sandstone);
  --color-brand-5: #3d4836;
  --color-brand-6: #513b56;
  --color-brand-7: #a63a50;
  --primary: var(--pine);
  --secondary: var(--brick);
  --color-black: #000000;
  --color-white: #ffffff;
  --font-family-1: "Inter", sans-serif;
  --font-family-2: "prestige-elite-std";
  --font-size-lg: 36px;
  --font-size-md: 30px;
  --font-size-md-24: 24px;
  --font-size-md-20: 20px;
  --font-size-body: 18px;
  --letter-spacing-lg: 1.5px;
  --border-radius-0: 0px;
  --border-radius-1: 0px;
  --box-shadow-main: 4px 10px 21px -10px var(--color-brand-3);
  --box-shadow-bkg: 1px 1px 25px -15px var(--color-brand-3);
  --box-shadow-header: 4px 10px 21px -21px var(--color-black);
  --border-default: 1px solid var(--color-brand-3);
  --border-white: 2px solid var(--color-white);
  --border-transparent: 1px solid transparent;
  --border-brand-1: 2px solid var(--color-brand-1);
  --border-brand-2: 2px solid var(--color-brand-2);
  --transition-default: all 0.5s ease;
  /*    --bkg-graphic: url(https://uat.windsurfercrs.com/CrsMedia/P13870/bkg.png);*/

  --base-color-neutral--black: #000;
--base-color-neutral--white: #fff;
--base-color-neutral--neutral-lightest: #eee;
--base-color-neutral--neutral-lighter: #ccc;
--base-color-neutral--neutral-light: #aaa;
--base-color-neutral--neutral: #666;
--base-color-neutral--neutral-dark: #444;
--base-color-neutral--neutral-darker: #222;
--base-color-neutral--neutral-darkest: #111;
--base-color-system--success-green: #cef5ca;
--base-color-system--success-green-dark: #114e0b;
--base-color-system--warning-yellow: #fcf8d8;
--base-color-system--warning-yellow-dark: #5e5515;
--base-color-system--error-red: #f8e4e4;
--base-color-system--error-red-dark: #3b0b0b;
--base-color-system--focus-state: #2d62ff;
--link-color--link-secondary: var(--base-color-neutral--black);
--link-color--link-alternate: var(--base-color-neutral--white);

}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  background-color:  var(--color-brand-1);
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Prestige, sans-serif;
}
body {
  margin: 0;
}

.body {
  background-color: var(--background-color--background-primary);
}

.address {
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  text-decoration: none !important;
  text-transform: uppercase;
}

.coming_soon {
  background-color: var(--pine);
  color: var(--sandstone);
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
}

.div-block-10 {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
  display: flex;
}
.div-block-11 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
}
.div-block-12 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.div-block-13 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}
.div-block-15 {
  justify-content: space-between;
  display: flex;
}

.footerwrapper {
  width: 100% !important;
}

.footer_link {
  color: var(--cast-iron);
  font-family: prestige-elite-std, sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-decoration: none;
}

.footer_link:hover {
  text-decoration: underline;
}

.image-logo {
  max-height: 150px; /* Constrain the image height */
}

.image {
  max-width: 222px;
}

.image-2 {
  max-width: 150px;
}

a:focus {
  outline: 0;
}

.logo_container {
  grid-column-gap: 3.5rem;
  grid-row-gap: 3.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.link-block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: var(--sandstone);
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
  opacity: 1 !important;
}
.link-block:hover {
  text-decoration: underline;
  opacity: 1 !important;
}
.list {
  align-items: center;
  display: flex;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  width: auto;
}

.list-item {
  line-height: 0.75rem;
}

.main-wrapper {
  background-color: var(--brick);
}

.nav_fixed {
  z-index: 9;
  position: sticky;
  inset: 0% 0% auto;
  background-color: var(--background-color--background-primary);
}

.nav_component {
  background-color: var(--background-color--background-primary);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  position: static;
  inset: 0% 0% auto;
}
.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
}

.padding-global {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.page-wrapper {
  background-color: var(--brick);
}

.section_hero {
  color: #fff;
  background-color: var(--brick);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 5rem 0rem 5rem;
  position: relative;
}

.text-block {
  color: var(--sandstone);
  letter-spacing: -0.0788rem;
  font-family: prestige-elite-std, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
}

.text-block-2 {
  color: var(--sandstone);
  letter-spacing: -0.0788rem;
  font-family: prestige-elite-std, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none !important;
}
.text-block-3 {
  color: var(--brick);
  letter-spacing: -0.0788rem;
  font-family: prestige-elite-std, sans-serif;
  font-size: 1.3rem;
  text-decoration: none !important;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

#header,
#content,
#footer {
  max-width: unset !important;
  width: unset !important;
}
#footer {
  border: 0px;
  margin-bottom: 2em;
}
.footerwrapper {
  padding: 2rem 5rem !important;
  background-color: var(--brick) !important;
}
#footercontent {
  border-top: unset;
  padding-top: unset;
  font-size: unset;
  color: unset;
}

@media screen and (max-width: 479px) {
  .div-block-12 {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .div-block-15 {
    text-align: center;
  }
  .footerwrapper,
  .links_section,
  .newsletter_section {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .image {
    max-width: 150px;
  }
  .image-2 {
    max-width: 100px;
  }
  .address {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
  .div-block-12 {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
  }
  .div-block-15 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  .address {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .list {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .div-block-10 {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
  }
  .div-block-11 {
    width: 100%;
  }
  .div-block-12 {
    align-items: center;
    width: 100%;
  }
  .list {
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .page-wrapper {
    justify-content: center;
    align-items: flex-start;
    display: block;
  }
  .main-wrapper {
    background-color: #d0cdbf;
    display: block;
  }
  .footerwrapper {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}
#ws-calendar .calMonth .calDays div {
  min-height: 4em !important;
  padding: 5px 5px;
  font-weight: 400;
}
.ws-results article:not(.ws-open) .ws-drawer-item a:hover h1:after,
.ws-results article:not(.ws-open) .ws-drawer-item a:hover h3:after {
  background-color: var(--color-brand-1);
  box-shadow: inset -75px 0 50px -35px var(--color-brand-1);
}

#ws-calendar p.ws-close a,
#ws-occupancy-select p.ws-close a,
#ws-options-select p.ws-close a,
#calprev .ws-icon:before,
#calnext .ws-icon:before,
#ws-calendar .calHead {
  color: var(--color-brand-1);
  padding: 15px;
}
#ws-main section#ws-calendar .ws-inner {
  padding-top: 4.572em;
}
.ws-itinerary span.ws-form-item .ws-element.ws-calendar-dates input,
.ws-mod-dates .ws-element input {
  outline: none;
}

.ws-drawer-message,
#ws-options-select .ws-item,
.ws-occupancy-room .ws-form-elements,
.ws-occupancy-room .ws-item,
#ws-calendar .calHead,
#ws-calendar .calDay,
.ws-legend-item,
.calMonth .calDays div.wsclosed:not(.wsoutonly),
#hdSaveForLater {
  color: var(--color-black);
}
.nav_fixed {
  order: 1;
}
.main-wrapper {
  order: 2;
}

#ws-utility a {
  color: var(--sandstone);
}
#ws-utility {
  background-color: var(--base-color-neutral--black);
  color: var(--sandstone);
  border-bottom: var(--border-transparent);
  padding: 0;
  order: 3;
  letter-spacing: -0.0788rem;
  font-family: Prestige, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  padding-right: 4rem;
  padding-left: 4rem;
}

html {
  min-height: unset;
}
html {
  font-size: unset;
  min-height: unset;
}
#ws-main {
  background-color: var(--color-brand-2);
  color:var(--color-brand-1) !important;
  padding: 5rem;
}
#WsBgModal.ws-show-this {
  opacity: .0;
}
.ws-itinerary .ws-element label {
  color: var(--color-brand-1);
}
.ws-property-item .ws-property-title h1 {
  color: var(--color-brand-3);
  font-family: Apercu, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.ws-msg-error {
  background-color: var( --color-brand-7);
  color: #fff;
}
#dvCalMonths {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: .715em;
}
#ws-calendar {
  background-color: var(--base-color-neutral--neutral-lightest);
  height: 800px;
}
.ws-element,
.ws-form-item  {
  border-color: var(--color-brand-1);
  border-radius: 0px !important;
  color: var(--color-brand-1);
  margin-right: unset !important;
  margin-left: unset !important;
}
#ws-calendar {
  background-color: var(--base-color-neutral--neutral-lightest);
}
#WsBgModal.ws-show-this {
  max-height: 10000000px;
  /* opacity: .8; */
}
#ws-calendar .calHead {
  color: var(--color-brand-3);
  font-size: var(--font-size-md-20);
  text-transform: uppercase;
    font-weight: 700;
    font-family: Apercu, sans-serif;
}


.calDay div {
  font-family: Apercu, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-brand-1);
}




.ws-element {
  outline: none;
  background-color: transparent;
  border-radius: var(--border-radius-0);
}

.ws-interact .ws-form-item .ws-element,
#MyRetrieve_dvWsRetrieve .ws-form-item .ws-element,
.ws-discount-code .ws-element {
  border-radius: var(--border-radius-0);
  outline: none;
}

.ws-interact .ws-form-item .ws-element:focus,
#MyRetrieve_dvWsRetrieve .ws-form-item .ws-element:focus,
.ws-discount-code .ws-element:focus {
  border: none;
  border-bottom:  var(--color-brand-2) !important;
}



.ws-cart-view2,
.ws-cart-view2 .dvHotelAddon .ws-related-data .ws-close,
.ws-cart-view2 h1,
#ws-cart-view2 .ws-results article a p.ws-price-from {
  color: var(--color-black);
}

.ws-cart-view2 .ws-buttons a {
  width: unset;
}

a#buWsCartCont:hover {
  background-color: var(--color-brand-1);
}
.ws-heading h1 {
  color: var(--color-brand-1);
  font-size: var(--font-size-lg);
}

#ws-back .ws-nav-yin {
  border-top-color: var(--color-brand-2);
  border-bottom-color: var(--color-brand-2);
  color: var(--color-brand-3);
}

.ws-journey .ws-active-step .ws-nav-yin,
.ws-journey a.ws-nav-yin:hover {
  border-top-color: var(--color-brand-1) !important;
  border-bottom-color: var(--color-brand-1) !important;
}

.ws-msg-error {
  background: var(--color-brand-2);
  color: var(--color-white);
}

.ws-messages.ws-show-this,
.ws-msg-error.ws-show-this {
  color: var(--color-brand-3);
  background-color: var(--color-brand-2);
  padding: 15px;
  border-radius: var(--border-radius-1);
}

#buWsCartCart,
#buIndex,
.ws-secondary,
a.ws-secondary,
span.ws-secondary,
.ws-buttons .ws-button,
.ws-buttons .ws-button-small,
.ws-button-small,
.ws-button-small.ws-tag,
.ws-filter-sort-items a.ws-button-small.ws-active,
.ws-filter-sort-items button.ws-button-small.ws-active,
.ws-grid-list .ws-button-small.ws-active,
.ws-attribute .ws-button-small.ws-active {
  color: var(--color-brand-3);
  border: var(--border-brand-2);
  border-radius: var(--border-radius-1) !important;
  font-size: var(--font-size-body);
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer !important;
  background-color: var(--color-brand-2);
  text-decoration: none;
  text-align: center;
  opacity: 1 !important;
  height: auto;
  min-width: 80px;
  transition: var(--transition-default);
}

#ws-property-info-map {
  position: relative;
  width: 80%;
  height: 600px;
  background-image: url('https://cdn.prod.website-files.com/66f194a89a12902be84cc4a8/66f1daa7b9c00c01bb978c54_railspur_map.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#ws-property-info-map #dvFrHotelMap {
  display: none !important; /* Hide the Google Map container */
}

.ws-menu-bar li {
  background-color: var(--sandstone);
}

.ws-property-item .ws-menu-bar li a {
  padding: .6em 1.5em .6em 1.5em;
  line-height: 1;
  text-transform: uppercase;
  font-family: Apercu, sans-serif;
  color: #3d4836;
  min-width: 100px;
}

.ws-property-item .ws-menu-bar li.activeli a {
  padding: .75em 1em 0em 1em;
  line-height: 1;
  text-transform: uppercase;
  font-family: Apercu, sans-serif;
  font-weight: 700;
  color: #3d4836;
  line-height: 1.5;
}

li#liMap,
li#liGallery,
li#liAmenities,
li#liAbout {
  border-radius: 0 !important;
}

li#liMap:hover,
li#liGallery:hover,
li#liAmenities:hover,
li#liAbout:hover {
  font-weight: 700;
}

a#tbGallery:active {
  color: red !important;
}

.ws-menu-bar li.activeli a,
.ws-menu-bar li a,




