.ws-related-data.ws-show-this {
    max-height: 100%;
    opacity: 1;
    padding: 3em;
    margin-bottom: 1.429em;
    overflow: visible;
    border-top: 0px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}